<div class="wrapper">

<section data-anchor="top" class="scrollnavinhoud" id="Hallo">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 mx-auto">
              <img class="hallofoto" src="./img/zelfportret4.jpg">
            </div>
        <div class="col-lg-8 mx-auto">
          <h2> <b>OVER MIJ</b></h2>
          <p class="lead">Hallo! Ik ben Aline Adins uit Gent, België. Ik ben een laatstejaarsstudent aan de Arteveldehogeschool in de richting Photodesign, Crossmedia-ontwerp. </p>

          <p class="lead"> Ik heb een passie voor muziek en fotografie. 
            Op vrije dagen loop ik met mijn camera in de hand of kan je mij spotten in de Gentse straten als straatmuzikant. 
 
            </p>
        
        </div>
       
      </div>
    </div>
  </section>

</div>