<section class="scrollnavinhoud" id="Muziek">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Hallo!</h2>
          <p class="lead">Ik ben een ontwerper. Ladiedadieda. Bekijk hieronder mijn werk!</p>
          <ul>
            <li>Hier kun je klikbare links zetten die scrollen naar de secties.</li>
            <li>Ideaal voor een one page website</li>
            <li>De navbar volgt mee, joepie!</li>

          </ul>
        </div>
      </div>
    </div>
  </section>