<div class="wrapper">
  <section data-anchor="top" class="p-0" id="Portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">

        <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ '/images/voorbeelden/logo_GRR.jpg' | relative_url }}" 
                data-lightbox="mijnreeks" data-title="SCHOOLOPRDRACHT LOGO GHENT ROCK RIDERS ">
                <img class="img-fluid" src="{{ '/images/voorbeelden/logo_GRR.jpg' | relative_url }}"
                alt="schoolopdracht logo">
                <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                            LOGO DESIGN
                          </div>
                          <div class="project-name">
                            Ghent Rock Riders - schoolopdracht
                          </div>
                        </div>
                      </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ '/images/voorbeelden/deos.jpg' | relative_url }}"
                data-lightbox="mijnreeks" data-title="Branding Rexona fictief">
                <img class="img-fluid" src="{{ '/images/voorbeelden/deos.jpg' | relative_url }}" 
                alt="brochure">
                <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          BRANDING
                          </div>
                          <div class="project-name">
                          Opdracht rebranding Rexona
                          </div>
                        </div>
                      </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ '/images/voorbeelden/logorvc.jpg' | relative_url }}"
                data-lightbox="mijnreeks" data-title="Logo Robex">
                <img class="img-fluid" src="{{ '/images/voorbeelden/logorvc.jpg' | relative_url }}" 
                alt="naamkaartje">
                <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                         LOGODESIGN
                          </div>
                          <div class="project-name">
                          Fotograaf ROBEX
                          </div>
                        </div>
                      </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ '/images/voorbeelden/stadenlicht.jpg' | relative_url }}"
                data-lightbox="mijnreeks" data-title="BXL Stad &amp; licht">
                <img class="img-fluid" src="{{ '/images/voorbeelden/stadenlicht.jpg' | relative_url }}"
                alt="naamkaartje">
                <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                            FOTOGRAFIE
                          </div>
                          <div class="project-name">
                           STAD EN LICHT BRUSSEL
                          </div>
                        </div>
                      </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ '/images/voorbeelden/portretcamille.jpg' | relative_url }}"
                data-lightbox="mijnreeks" data-title="Portret">
                <img class="img-fluid" src="{{ '/images/voorbeelden/portretcamille.jpg' | relative_url }}"
                alt="naamkaartje">
                <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                            FOTOGRAFIE
                          </div>
                          <div class="project-name">
                            PORTRET 
                          </div>
                        </div>
                      </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ '/images/voorbeelden/stadenlicht2.jpg' | relative_url }}"
                data-lightbox="mijnreeks" data-title="BXL Stad &amp; licht">
                <img class="img-fluid" src="{{ '/images/voorbeelden/stadenlicht2.jpg' | relative_url }}" 
                alt="infographic">
                <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                            FOTOGRAFIE
                          </div>
                          <div class="project-name">
                          STAD EN LICHT BRUSSEL
                          </div>
                        </div>
                      </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{{ '/images/voorbeelden/gdmgazet.jpg' | relative_url }}"
            data-lightbox="mijnreeks" data-title="Project GDM-gazet 2017-2018 - Ontwerper van het logo en meegewerkt in de redactie.">
            <img class="img-fluid" src="{{ '/images/voorbeelden/gdmgazet.jpg' | relative_url }}"
            alt="naamkaartje">
            <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Crossmediaal project
                      </div>
                      <div class="project-name">
                        GDM-Gazet
                      </div>
                    </div>
                  </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{{ '/images/voorbeelden/filmkameraadBAP.jpg' | relative_url }}"
            data-lightbox="mijnreeks" data-title="BaP">
            <img class="img-fluid" src="{{ '/images/voorbeelden/filmkameraadBAP.jpg' | relative_url }}"
            alt="naamkaartje">
            <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        BRANDING
                      </div>
                      <div class="project-name">
                     FILMKAMERAAD VZW - BAP
                      </div>
                    </div>
                  </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{{ '/images/voorbeelden/hoppers.jpg' | relative_url }}"
            data-lightbox="mijnreeks" data-title="Hoppers alcoholvrij bier">
            <img class="img-fluid" src="{{ '/images/voorbeelden/hoppers.jpg' | relative_url }}" 
            alt="infographic">
            <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        BRANDING
                      </div>
                      <div class="project-name">
                        HOPPERS ALCOHOLVRIJ BIER
                      </div>
                    </div>
                  </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ '/images/voorbeelden/Diego_5.jpg' | relative_url }}"
      data-lightbox="mijnreeks" data-title="Diego Portret beroepen">
      <img class="img-fluid" src="{{ '/images/voorbeelden/Diego_5.jpg' | relative_url }}"
      alt="naamkaartje">
      <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
               PORTRET
                </div>
                <div class="project-name">
                Diego
                </div>
              </div>
            </div>
  </a>
</div>
<div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ '/images/voorbeelden/timothy.jpg' | relative_url }}"
      data-lightbox="mijnreeks" data-title="portret Timothy">
      <img class="img-fluid" src="{{ '/images/voorbeelden/timothy.jpg' | relative_url }}"
      alt="naamkaartje">
      <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  PORTRET
                </div>
                <div class="project-name">
                  Timothy
                </div>
              </div>
            </div>
  </a>
</div>
<div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ '/images/voorbeelden/robbe.jpg' | relative_url }}"
      data-lightbox="mijnreeks" data-title="Portret Robbe close up">
      <img class="img-fluid" src="{{ '/images/voorbeelden/robbe.jpg' | relative_url }}" 
      alt="infographic">
      <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Portret 
                </div>
                <div class="project-name">
                  Robbe
                </div>
              </div>
            </div>
  </a>
</div>
        </div>

        
  </section>
  </div>