<div class="wrapper">
    <section data-anchor="top" class="scrollnavinhoud" id="Skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          
          <div class="skills">
            <h2><b>SKILLS</b></h2>
              <ul id="skillbars">
                <li><span class="illustrator"></span><em>Illustrator</em></li>
                <li><span class="indesign"></span><em>Indesign</em></li>
                <li><span class="photoshop"></span><em>Photoshop</em></li>
                <li><span class="html5"></span><em>HTML 5</em></li>
                <li><span class="css3"></span><em>CSS 3</em></li>
              </ul>
            </div>
                 </div>
      </div>
    </div>
  </section>
  </div>