<div class="wrapper">
    <section data-anchor="top" class="scrollnavinhoud" id="Tussentekst">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Hallo!</h2>
          <p class="lead">Ik ben een ontwerper. Ladiedadieda. Bekijk hieronder mijn werk!</p>
          <div class="skills">
              <h2>My Skills</h2>
              <ul id="skillbars">
                <li><span class="html5"></span><em>HTML 5</em></li>
                <li><span class="css3"></span><em>CSS 3</em></li>
                <li><span class="jquery"></span><em>jQuery</em></li>
                <li><span class="photoshop"></span><em>Photoshop</em></li>
              </ul>
            </div>
                 </div>
      </div>
    </div>
  </section>
  </div>