---
layout: horizontal
permalink: /
published: true
title: Home
---
<header class="fullsizeafbeelding">
    <section>
        <div class="container">
          <div class="row tekstheader">
              <img src="images/logo_AA.svg"alt="">
            <div class="col-lg-12">
              <h1 class="mt-5"><b>ALINE ADINS</b></h1>
              <p>Grafisch ontwerper &amp; muzikant</p>
              <a class="buttons btn btn-primary btn-xl js-scroll-trigger" href="#Hallo">Ontdek meer</a>
           
            </div>
          </div>
        </div>
      </section>
      </div>
</header>

{% include hallo.html %}
{% include portfolio.html %}
{% include tussentekst.html %}
{% include muziek.html %}
{% include contact.html %}